<ion-header>
  <ion-navbar color="course">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Courses</ion-title>
  </ion-navbar>
</ion-header>

  <ion-content>
  <ion-item-group>
    <ion-item-divider color="lighttorq">Semester 1</ion-item-divider>
    <button ion-item *ngFor="let course1 of semCourses1 | async" (click)="onCourseClick(course1.$key, '1')">
      <p class="course_code">{{course1.code}}</p>
      <div class="item-note" item-right>
        <p class="course_title">{{course1.title}}</p>
      </div>
    </button>
  </ion-item-group>
  <ion-item-group>
    <ion-item-divider color="lighttorq">Semester 2</ion-item-divider>
    <button ion-item *ngFor="let course2 of semCourses2 | async" (click)="onCourseClick(course2.$key, '2')">
        <p class="course_code">{{course2.code}}</p>
      <div class="item-note" item-right>
        <p class="course_title">{{course2.title}}</p>
      </div>
    </button>
  </ion-item-group>
</ion-content>

